<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>favorite</key>
		<true/>
		<key>imageURL</key>
		<string>ad</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Benoit</string>
		<key>streamURL</key>
		<string>aehaehaelkh</string>
	</dict>
	<dict>
		<key>favorite</key>
		<true/>
		<key>imageURL</key>
		<string>ae</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Bernard</string>
		<key>streamURL</key>
		<string>aekljkjhoo</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>af</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Benedicte</string>
		<key>streamURL</key>
		<string>oihosnvkjnwqf</string>
	</dict>
	<dict>
		<key>favorite</key>
		<true/>
		<key>imageURL</key>
		<string>ag</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Barnabé</string>
		<key>streamURL</key>
		<string>adsfouhonboqenf</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>al</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Bertrand</string>
		<key>streamURL</key>
		<string>lkjglufqsvdqs</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>am</string>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Bob</string>
		<key>streamURL</key>
		<string>kjblkaedvlkblew</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>ao</string>
		<key>group</key>
		<string>B</string>
		<key>name</key>
		<string>Benjamin</string>
		<key>streamURL</key>
		<string>aehaehet</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>ar</string>
		<key>group</key>
		<string>Podcasts</string>
		<key>name</key>
		<string>Aline</string>
		<key>streamURL</key>
		<string>dfaadfsbf`xznvxh</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>at</string>
		<key>group</key>
		<string>Podcasts</string>
		<key>name</key>
		<string>Anatole</string>
		<key>streamURL</key>
		<string>eahaefhaethjtedfz`badfva</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>au</string>
		<key>group</key>
		<string>Podcasts</string>
		<key>name</key>
		<string>Antoine</string>
		<key>streamURL</key>
		<string>eahaefhaeaetatea</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>az</string>
		<key>group</key>
		<string>Podcasts</string>
		<key>name</key>
		<string>André</string>
		<key>streamURL</key>
		<string>argrge</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Classique</string>
		<key>name</key>
		<string>Radio Classique</string>
		<key>streamURL</key>
		<string>http://radioclassique.ice.infomaniak.ch/radioclassique-high.mp3</string>
		<key>imageURL</key>
		<string>RadioClassique</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Europe 1</string>
		<key>streamURL</key>
		<string>http://rfcmedia.stresgdshamguys1.com/classicrock.mp3</string>
		<key>imageURL</key>
		<string>Skyrock</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>BFM</string>
		<key>streamURL</key>
		<string>http://rfcmedia.streamsdgsdgguys1.com/classicrock.mp3</string>
		<key>imageURL</key>
		<string>RTL</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Classic Rock</string>
		<key>streamURL</key>
		<string>http://rfcmedia.streamguys1.com/classicrock.mp3</string>
		<key>imageURL</key>
		<string>ba</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France Musique</string>
		<key>streamURL</key>
		<string>http://direct.francemusique.fr/live/francemusiqueeasyclassique-hifi.mp3</string>
		<key>imageURL</key>
		<string>FranceMusique</string>
		<key>desc</key>
		<string>Vous allez LA DO RÉ !</string>
		<key>group</key>
		<string>Classique</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>Peaceful piano</string>
		<key>streamURL</key>
		<string>https://peacefulpiano.stream.publicradio.org/peacefulpiano.mp3</string>
		<key>imageURL</key>
		<string>PeacefulPiano</string>
		<key>desc</key>
		<string>In the key of serene.</string>
	</dict>
	<dict>
		<key>favorite</key>
		<true/>
		<key>group</key>
		<string>Rock</string>
		<key>name</key>
		<string>NRJ 12</string>
		<key>streamURL</key>
		<string>http://rfcmedia.strearhaehehtamguys1.com/classicrock.mp3</string>
		<key>imageURL</key>
		<string>FranceInter</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Podcasts</string>
		<key>name</key>
		<string>test 1</string>
		<key>streamURL</key>
		<string>http://rfcmedadhaethia.streamguys1.com/classicrock.mp3</string>
		<key>imageURL</key>
		<string>bb</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newport Folk Radio</string>
		<key>streamURL</key>
		<string>http://rfcmedia.streamguys1.com/Newport.mp3</string>
		<key>imageURL</key>
		<string>bd</string>
		<key>desc</key>
		<string>Are you ready to Folk?</string>
	</dict>
	<dict>
		<key>group</key>
		<string>Rock/Pop</string>
		<key>name</key>
		<string>Country Radio</string>
		<key>streamURL</key>
		<string>http://strm112.1.fm/acountry_mobile_mp3</string>
		<key>imageURL</key>
		<string>be</string>
		<key>desc</key>
		<string>The Music Starts Here</string>
	</dict>
</array>
</plist>
